## Lab 2 - Exploratory Data Analysis

In [122]:
import pandas as pd

## 1. Import Data

In [123]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

By using the head() method, this method will give a sample of the first few video games in the dataset.

In [124]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

By using the tail() method, this method will give a sample of the last few video games in the dataset. The 10 in the parenthesis is used to get the last ten data entries.

In [125]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

Using .shape gets the number of rows and columns respectively for the dataset.

In [126]:
df.shape

(20805, 17)

Returns information regarding what type of data is provided for each column of the dataframe (int, float, object/string, etc.). It also counts how many values aren't non-null values - or values that isn't a 0 or an empty string.

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

Describes data for columns containing only numerical (int or float) data.

In [128]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

## 4. Look for Duplicates

While using .duplicated() alone does detect what's duplicated, Visual Studio Code truncates a lot of the outputted data. Using .duplicated().sum() alerts us if there is any duplicates within a short output.

In [129]:
df.duplicated().sum()

2

Removes all duplicates in the data set.

In [130]:
df.drop_duplicates(inplace=True)

Double checks if the duplicates have been removed.

In [131]:
df.duplicated().sum()

0

## 5. Fix Types

By using .info(), we can spot what data columns looks unusual regarding the data type. Rating shouldn't be an object type because ratings are usually associated with numbers, integer or float. Votes should also result in a numerical type.

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  object
 6   votes         11600 non-null  object
 7   plot summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci-Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.6+ MB

.dtypes gives a more concise display of what type of data is provided as opposed to .info().

In [133]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

Use the .unique function to see an un-truncated version of outputted data. We see that "nan" in the rating values and the commas in vote numbers are causing the column data types to turn into strings instead of numerical data, which is what we don't want.

In [134]:
display(df.rating.unique())
display(df.votes.unique())

array(['9.2', '9.7', '9.5', '9.6', '8.5', '8.8', '9.3', '8.0', '9.0', nan,
       '7.6', '9.4', '7.8', '8.9', '8.1', '8.7', '7.5', '8.4', '7.9',
       '8.6', '8.3', '8.2', '4.3', '6.3', '4.9', '7.7', '6.1', '9.1',
       '7.4', '6.9', '6.0', '5.9', '7.1', '7.0', '6.7', '6.4', '6.6',
       '7.3', '6.8', '4.0', '4.4', '6.2', '5.1', '7.2', '5.7', '5.5',
       '6.5', '5.6', '2.2', '3.4', '2.8', '5.8', '4.8', '2.9', '5.4',
       '1.5', '5.0', '3.7', '4.5', '5.2', '4.1', '5.3', '1.4', '4.7',
       '1.3', '3.8', '1.7', '3.6', '3.2', '1.8', '4.6', '3.0', '2.5',
       '1.9', '*9.0', '3.9', '3.1', '3.3', '4.2', '2.1', '2.3', '2.7',
       '3.5', '1.6', '2.6', '2.4', '2.0', '1.0'], dtype=object)

array(['20,759', '35,703', '59,986', ..., '5,029', '1,357', '3,025'],
      dtype=object)

In the data, there is "*9.0" which causes the column to become an object/string column. We will replace this value.

In [135]:
df.rating.replace("*9.0", 9.0, inplace=True)
display(df.rating.unique())

array(['9.2', '9.7', '9.5', '9.6', '8.5', '8.8', '9.3', '8.0', '9.0', nan,
       '7.6', '9.4', '7.8', '8.9', '8.1', '8.7', '7.5', '8.4', '7.9',
       '8.6', '8.3', '8.2', '4.3', '6.3', '4.9', '7.7', '6.1', '9.1',
       '7.4', '6.9', '6.0', '5.9', '7.1', '7.0', '6.7', '6.4', '6.6',
       '7.3', '6.8', '4.0', '4.4', '6.2', '5.1', '7.2', '5.7', '5.5',
       '6.5', '5.6', '2.2', '3.4', '2.8', '5.8', '4.8', '2.9', '5.4',
       '1.5', '5.0', '3.7', '4.5', '5.2', '4.1', '5.3', '1.4', '4.7',
       '1.3', '3.8', '1.7', '3.6', '3.2', '1.8', '4.6', '3.0', '2.5',
       '1.9', 9.0, '3.9', '3.1', '3.3', '4.2', '2.1', '2.3', '2.7', '3.5',
       '1.6', '2.6', '2.4', '2.0', '1.0'], dtype=object)

Converts rating to a numeric value (since the column was originally an object/string value, it now has to be converted.)

In [136]:
df.rating = pd.to_numeric(df.rating)
display(df.rating.unique())

array([9.2, 9.7, 9.5, 9.6, 8.5, 8.8, 9.3, 8. , 9. , nan, 7.6, 9.4, 7.8,
       8.9, 8.1, 8.7, 7.5, 8.4, 7.9, 8.6, 8.3, 8.2, 4.3, 6.3, 4.9, 7.7,
       6.1, 9.1, 7.4, 6.9, 6. , 5.9, 7.1, 7. , 6.7, 6.4, 6.6, 7.3, 6.8,
       4. , 4.4, 6.2, 5.1, 7.2, 5.7, 5.5, 6.5, 5.6, 2.2, 3.4, 2.8, 5.8,
       4.8, 2.9, 5.4, 1.5, 5. , 3.7, 4.5, 5.2, 4.1, 5.3, 1.4, 4.7, 1.3,
       3.8, 1.7, 3.6, 3.2, 1.8, 4.6, 3. , 2.5, 1.9, 3.9, 3.1, 3.3, 4.2,
       2.1, 2.3, 2.7, 3.5, 1.6, 2.6, 2.4, 2. , 1. ])

Removes the comma from all numbers in the votes column.

In [137]:
df['votes'] = df['votes'].str.replace(',','')

Converts votes to a numeric value (since the column was originally an object/string value, it now has to be converted.)

In [138]:
df.votes = pd.to_numeric(df.votes)
display(df.rating.unique())

array([9.2, 9.7, 9.5, 9.6, 8.5, 8.8, 9.3, 8. , 9. , nan, 7.6, 9.4, 7.8,
       8.9, 8.1, 8.7, 7.5, 8.4, 7.9, 8.6, 8.3, 8.2, 4.3, 6.3, 4.9, 7.7,
       6.1, 9.1, 7.4, 6.9, 6. , 5.9, 7.1, 7. , 6.7, 6.4, 6.6, 7.3, 6.8,
       4. , 4.4, 6.2, 5.1, 7.2, 5.7, 5.5, 6.5, 5.6, 2.2, 3.4, 2.8, 5.8,
       4.8, 2.9, 5.4, 1.5, 5. , 3.7, 4.5, 5.2, 4.1, 5.3, 1.4, 4.7, 1.3,
       3.8, 1.7, 3.6, 3.2, 1.8, 4.6, 3. , 2.5, 1.9, 3.9, 3.1, 3.3, 4.2,
       2.1, 2.3, 2.7, 3.5, 1.6, 2.6, 2.4, 2. , 1. ])

## 6. Drop and Rename Columns

We see that "plot summary" is not a very code-friendly title because it lacks an underscore in place of the space. There is also a column named "Unnamed: 0" which I will rename game_index for personal clarification. I ran into a problem with the name "Sci-Fi" later in the assignent, so I'm changing the dash into an underscore.

In [139]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

In [140]:
df

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759.0,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986.0,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118.0,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722.0,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

Renames the three aforementioned columns.

In [141]:
df.columns = ['game_index', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot_summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci_Fi', 'Thriller']

df

,game_index,name,url,year,certificate,rating,votes,plot_summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci_Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,20759.0,"When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,35703.0,Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,59986.0,Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,26118.0,"After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,28722.0,Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 7. Fix Nulls

Before we do anything to null values in the dataframe, we must check how many null/non-null values are present. This will help determine if it's worth replacing null values with something else. Replacing too many null values can skew data and make the information less credible.

Certificate, rating, and votes are three data columns with a significant amount of null values in it.

Normally, we could insert values to replace the nulls in the dataset, but since so many values are missing for the two numerical datasets, inserting values such as the number 0 will skew the results. Inserting mean/median values would be acceptable if the number of null values weren't so large.

For the certificate column, it's most ethical to leave the empty ratings empty because we can't just make up data.

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20803 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   game_index    20803 non-null  int64
 1   name          20803 non-null  object
 2   url           20803 non-null  object
 3   year          20536 non-null  float64
 4   certificate   7903 non-null   object
 5   rating        11600 non-null  float64
 6   votes         11600 non-null  float64
 7   plot_summary  20803 non-null  object
 8   Action        20803 non-null  bool
 9   Adventure     20803 non-null  bool
 10  Comedy        20803 non-null  bool
 11  Crime         20803 non-null  bool
 12  Family        20803 non-null  bool
 13  Fantasy       20803 non-null  bool
 14  Mystery       20803 non-null  bool
 15  Sci_Fi        20803 non-null  bool
 16  Thriller      20803 non-null  bool
dtypes: bool(9), float64(3), int64(1), object(4)
memory usage: 1.6+ MB

## 8. Summarize Categorical Columns

This outputs categorical data that is considered important for counting.

In [143]:
print("----\nNumber of games each year:")
display(df.year.value_counts())

print("----\nCertificate count:")
display(df.certificate.value_counts())

print("----\nAction movie count:")
display(df.Action.value_counts())

print("----\nAdventrue movie count:")
display(df.Adventure.value_counts())

print("----\nComedy movie count:")
display(df.Comedy.value_counts())

print("----\nCrime movie count:")
display(df.Crime.value_counts())

print("----\nFamily movie count:")
display(df.Family.value_counts())

print("----\nFantasy movie count:")
display(df.Fantasy.value_counts())

print("----\nMystery movie count:")
display(df.Mystery.value_counts())

print("----\nSci-Fi movie count:")
display(df.Sci_Fi.value_counts())

print("----\nThriller movie count:")
display(df.Thriller.value_counts())

----
Number of games each year:

2019.0    956
2018.0    872
2017.0    863
2016.0    828
2015.0    761
         ...
1969.0      2
1962.0      2
1952.0      1
1964.0      1
2027.0      1
Name: year, Length: 61, dtype: int64

----
Certificate count:

T            2474
E            2006
M            1820
E10+          814
Unrated       241
K-A           227
Not Rated     184
AO             32
GA             26
EC             25
CE             13
12              9
PG-13           7
MA-13           7
Approved        4
G               4
MA-17           3
PG              3
TV-MA           2
Passed          1
TV-14           1
Name: certificate, dtype: int64

----
Action movie count:

True     11930
False     8873
Name: Action, dtype: int64

----
Adventrue movie count:

False    10469
True     10334
Name: Adventure, dtype: int64

----
Comedy movie count:

False    19020
True      1783
Name: Comedy, dtype: int64

----
Crime movie count:

False    19908
True       895
Name: Crime, dtype: int64

----
Family movie count:

False    17928
True      2875
Name: Family, dtype: int64

----
Fantasy movie count:

False    16453
True      4350
Name: Fantasy, dtype: int64

----
Mystery movie count:

False    19618
True      1185
Name: Mystery, dtype: int64

----
Sci-Fi movie count:

False    17213
True      3590
Name: Sci_Fi, dtype: int64

----
Thriller movie count:

False    20280
True       523
Name: Thriller, dtype: int64

## 9. Summarize Numeric Columns

This outputs numerical data that is considered important for counting.

In [144]:
print("----\nRating count:")
display(df.rating.value_counts())

print("----\nVotes count:")
display(df.votes.value_counts())

----
Rating count:

7.4    493
7.5    470
7.6    452
7.2    450
7.8    442
      ...
1.7      4
1.5      3
1.3      3
1.4      1
1.0      1
Name: rating, Length: 86, dtype: int64

----
Votes count:

7.0       318
9.0       295
8.0       294
10.0      287
12.0      259
         ...
2325.0      1
5028.0      1
948.0       1
1253.0      1
3025.0      1
Name: votes, Length: 1905, dtype: int64